#a{
    font-size: 1.3rem;
}
ol{
    font-size: x-large;
}
.background{
    background-color: yellow;
}
#d{
   align-items: center;
}
.background-2{
    background-color: lightpink;
}
.background-3{
    background-color: bisque;
}
.background-4{
    background-color: lightgreen;
}
#k{
    background-color: lightgoldenrodyellow;
}